.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: color 0.3s;
}

.menu {
    background-color: rgb(60, 155, 233, 0.95);
    padding: 10px 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    text-shadow: 
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    /* esto está sujeto a cambios, solo me pareció que se veía
    un poco más lindo así (by Facu) */
    position: fixed;
    top: 0; /* esto hace referencia a la posición superior del elemento
    en referencia a su contexto, por eso es que al darle el valor de 0
    el menú se coloca lo más arriba de la página posible */
    width: 100%;
    border: solid 2px white;
    border-top: none;
    border-right: none;
    border-left: none;
    z-index: 100; /* esto coloca al menú en este caso en una capa superior
    logrando que el resto de los elementos se "escondan" por detrás de él
    cuando se scrollea hacia abajo */
}

@font-face {
    font-family: 'LaLetraDeDios';
    src: url('/Fuentes/LaLetraDeD10S-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

.tituloQuienesSomos {
    text-align: center;
    font-family: 'LaLetraDeDios';
    color: white;
}

.textoQuienesSomos {
    background-color: rgb(60, 155, 233, 0.75);
    border-radius: 10px;
    border: 2px solid white;
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin: 50px auto -20px auto;
    color: white;
    font-family: 'Courier New';
    font-size: 24px;
    line-height: 1.2;
}

body {
    margin: 0; /* esto lo tuve que agregar para arreglar ese pequeño espacio
    que se generaba en el lado izquierdo del menú superior */
    margin-top: 60px;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3N4ZnJmcWN3dHp3eWdvY3g4dDhhZDRpMTE5YTVpN2lhemZqdmQ5dCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/dBCWoIHo1hT5Sdtqbn/giphy.gif);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    height: 110vh;
}

.formulario {
    background-color: rgba(60, 155, 233, 0.75);
    border: 2px solid white;
    width: 250px;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
}

.divForms {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-top: 150px;
}

input, textarea {
    border: none;
    border-bottom: solid white 2px;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box; /* esto es para que los elementos no se
    desborden de, en este caso, el formulario / especifíca el comportamiento
    de las propiedads "width" (anchura) y "height" (altura) */
    display: block;
    color: white;
    margin-bottom: -10px;
    padding-top: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

textarea {
    width: 100%;
    resize: vertical; /* esta propiedad hace que el textarea solo se
    pueda agrandar verticalmente y la agregué porque cuando uno intentaba
    agrandarla hacia la derecha (única dirección en la que se podía agrandar)
    este se salía más allá del límite del formulario, "bugeándose" je*/
    min-height: 150px;
}

label {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    color: white;
    text-shadow: 
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.botonEnviar {
    display: block;
    margin: 11px auto 0 auto; /* el orden acá es arriba -> derecha -> abajo -> izquierda */
    background-color: #1c5d93;
    color: white;
    border: 2px solid white;
    padding: 5px 15px;
    cursor: pointer; /* hace que al pasar el mouse por encima aparezca
    la mano con el dedo índice arriba, detalle boludo xd */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    font-size: 18px;
    text-shadow: 
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    
}

.botonEnviar:hover {
    background-color: rgba(255, 255, 255, 0.95);
    border-color: rgba(60, 155, 233);
    color: rgba(60, 155, 233);
}

.bannerFinal {
    margin-top: 200px;
    padding-bottom: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    font-size: 15px;
    text-shadow: 
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    color: white;
    opacity: 0.4;
    bottom: 0;
}

.bannerFinal hr {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    width: 75%;
    margin: auto;
}