.titulo {
    text-align: center;
    font-family: 'LaLetraDeDios';
    color: rgb(255, 255, 255, 0.8);
    font-size: 12px;
    line-height: 1.2;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: color 0.3s;
}

.menu {
    background-color: rgb(60, 155, 233, 0.95);
    padding: 10px 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    text-shadow: 
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    /* esto está sujeto a cambios, solo me pareció que se veía
    un poco más lindo así (by Facu) */
    position: fixed;
    top: 0; /* esto hace referencia a la posición superior del elemento
    en referencia a su contexto, por eso es que al darle el valor de 0
    el menú se coloca lo más arriba de la página posible */
    width: 100%;
    border: solid 2px white;
    border-top: none;
    border-right: none;
    border-left: none;
    z-index: 100; /* esto coloca al menú en este caso en una capa superior
    logrando que el resto de los elementos se "escondan" por detrás de él
    cuando se scrollea hacia abajo */
}

@font-face {
    font-family: 'LaLetraDeDios';
    src: url('Fuentes/LaLetraDeD10S-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

.textoQuienesSomos {
    background-color: rgb(60, 155, 233, 0.75);
    border-radius: 10px;
    border: 2px solid white;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    margin: 38px auto -50px auto;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    line-height: 1.2;
}

body {
    margin: 0;
    margin-top: 60px;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3N4ZnJmcWN3dHp3eWdvY3g4dDhhZDRpMTE5YTVpN2lhemZqdmQ5dCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/dBCWoIHo1hT5Sdtqbn/giphy.gif);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    height: 110vh;
}

.formulario {
    background-color: rgba(60, 155, 233);
    border: 2px solid rgb(255, 255, 255);
    width: 250px;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.5);
}

.divForms {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-top: 38px;
    margin-bottom: -45px;
}

input, textarea {
    border: none;
    border-bottom: solid white 2px;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box; /* esto es para que los elementos no se
    desborden de, en este caso, el formulario / especifíca el comportamiento
    de las propiedads "width" (anchura) y "height" (altura) */
    display: block;
    color: white;
    margin-bottom: -10px;
    padding-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

textarea {
    width: 100%;
    resize: vertical; /* esta propiedad hace que el textarea solo se
    pueda agrandar verticalmente y la agregué porque cuando uno intentaba
    agrandarla hacia la derecha (única dirección en la que se podía agrandar)
    este se salía más allá del límite del formulario, "bugeándose" je*/
    min-height: 150px;
}

#labelForm {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    font-size: 18px;
    color: white;
    text-shadow: 
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.botonForm {
    display: block;
    margin: 11px auto 0 auto; /* el orden acá es arriba -> derecha -> abajo -> izquierda */
    background-color: #1c5d93;
    color: white;
    border: 2px solid white;
    padding: 5px 15px;
    cursor: pointer; /* hace que al pasar el mouse por encima aparezca
    la mano con el dedo índice arriba, detalle boludo xd */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    font-size: 18px;
    text-shadow: 
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    
}

.botonForm:hover {
    background-color: rgba(255, 255, 255, 0.95);
    border-color: rgba(60, 155, 233);
    color: rgba(60, 155, 233);
}

.divBotones {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.bannerFinal {
    margin-top: 200px;
    padding-bottom: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    font-size: 15px;
    text-shadow: 
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    color: white;
    opacity: 0.4;
    bottom: 0;
}

.bannerFinal hr {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    width: 75%;
    margin: auto;
}

.carruselDiv {
    width: 60%;
    max-width: 450px;
    margin: 59px auto -50px auto;
    position: relative; /* con esto le estamos diciendo al navegador que 
    este elemento sea un punto de partida/la referencia para cualquier
    elemento que tenga "position: absolute", que en este caso van a ser
    los botones */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(255, 255, 255, 0.6);
    background-color: rgba(60, 155, 233, 0.75);
    border-radius: 10px;
    padding: 3px;
    box-shadow: 0px 0px 10px white;
}

#carruselImg {
    height: 600px;
    width: 400px;
    border-radius: 5px;
    margin: 10px;
}

#carruselBotonAnterior, #carruselBotonSiguiente {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(28, 93, 147, 0.25);
    color: white;
    border: 2px solid rgb(255, 255, 255, 0.4);
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 10%;
    cursor: pointer;
    z-index: 10;
}

#carruselBotonAnterior {
    left: 37px;
}

#carruselBotonSiguiente {
    right: 37px;
}

#letrasMayus {
    font-size: 40px;
    color: rgba(60, 155, 233);
}

.msjAlerta {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 3.5%;
    text-align: right;
    color: rgb(255, 50, 50);
    text-shadow:
        1px 1px 1px rgba(255, 175, 175, 0.5),
        -1px -1px 1px rgb(255, 175, 175, 0.5);
}

.msjExito {
    display: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: white;
    text-align: center;
    text-shadow:
        1px 1px 1.5px rgb(255, 255, 255, 0.5),
        -1px -1px 1.5px rgb(255, 255, 255, 0.5);
}

.divMerch {
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.merchItem {
    
    background-color: rgba(59, 59, 59, 0.2);
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.merchItem img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: contain;
}

.merchItem img:hover{
    transform:scale(1.2);
}

.merchInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 5px;
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    box-shadow: 0px 0px 15px black;
}

.carrito {
    background-color: #0d64ac;
    border: none;
    color: rgb(255, 255, 255);
    padding: 6px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.carrito:hover {
    background-color: rgba(255, 255, 255, 0.95);
    border-color: rgba(60, 155, 233);
    color: rgba(60, 155, 233);
}


.selecTalle{
    color: white;
    background-color: #0d64ac;
    border-radius: 5px;
    width: 85px;
    height: 32px;
    font-size: 13.5px;
    cursor: pointer;
}