.menu {
    background-color: #3c9be9;
    padding: 10px 0;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: color 0.3s;
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
}

body {
    margin-top: 60px;
}

@font-face {
    font-family: 'LaLetraDeDios';
    src: url('/Fuentes/LaLetraDeD10S-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

.titulo h1{
    text-align: center;
    font-family: 'LaLetraDeDios';
}

.tituloQuienesSomos h1{
    text-align: center;
    font-family: 'LaLetraDeDios';
}

.textoQuienesSomos{
    background-color: #3c9be9;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    padding: 20px 40px;
    margin: 50px auto;
    color: white;
    font-family: 'Courier New';
    font-size: 24px;
    line-height: 1.6;
}

body{
    text-align: center;
}