.titulo {
    text-align: center;
    font-family: 'LaLetraDeDios';
    color: rgb(255, 255, 255, 0.8);
    font-size: 12px;
    line-height: 1.2;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: color 0.3s;
}

.menu {
    background-color: rgb(60, 155, 233, 0.95);
    padding: 10px 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    text-shadow: 
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    position: fixed;
    top: 0;
    width: 100%;
    border: solid 2px white;
    border-top: none;
    border-right: none;
    border-left: none;
    z-index: 100;
}

@font-face {
    font-family: 'LaLetraDeDios';
    src: url('Fuentes/LaLetraDeD10S-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

.textoQuienesSomos {
    background-color: rgb(60, 155, 233, 0.75);
    box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    border: 2px solid white;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    margin: 38px auto -50px auto;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    line-height: 1.2;
}

body {
    margin: 0;
    margin-top: 60px;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3N4ZnJmcWN3dHp3eWdvY3g4dDhhZDRpMTE5YTVpN2lhemZqdmQ5dCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/dBCWoIHo1hT5Sdtqbn/giphy.gif);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    height: 110vh;
}

.formulario {
    background-color: rgba(60, 155, 233, 0.75);
    border: 2px solid rgb(255, 255, 255);
    width: 250px;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.5);
}

.divForms {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    padding-top: 38px;
    margin-bottom: -45px;
}

input, textarea {
    border: none;
    border-bottom: solid white 2px;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    display: block;
    color: white;
    margin-bottom: -10px;
    padding-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

textarea {
    width: 100%;
    resize: vertical;
    min-height: 150px;
}

#labelForm {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    font-size: 18px;
    color: white;
    text-shadow: 
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.botonForm {
    display: block;
    margin: 11px auto 0 auto;
    background-color: #1c5d93;
    color: white;
    border: 2px solid white;
    padding: 5px 15px;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    font-size: 18px;
    text-shadow: 
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.botonForm:hover {
    background-color: rgba(255, 255, 255, 0.95);
    border-color: rgba(60, 155, 233);
    color: rgba(60, 155, 233);
}

.divBotones {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.bannerFinal {
    margin-top: 200px;
    padding-bottom: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    font-size: 15px;
    text-shadow: 
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    color: white;
    opacity: 0.4;
    bottom: 0;
}

.bannerFinal hr {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    width: 75%;
    margin: auto;
}

.carruselDiv {
    width: 60%;
    max-width: 450px;
    margin: 59px auto -50px auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(255, 255, 255, 0.6);
    background-color: rgba(60, 155, 233, 0.75);
    border-radius: 10px;
    padding: 3px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.5);
}

#carruselImg {
    height: 600px;
    width: 400px;
    border-radius: 5px;
    margin: 10px;
}

#carruselBotonAnterior, #carruselBotonSiguiente {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(60, 155, 233, 0.75);
    color: white;
    border: 2px solid rgb(255, 255, 255, 0.4);
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 10%;
    cursor: pointer;
    z-index: 10;
    box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.5);
}

#carruselBotonAnterior {
    left: -63px;
}

#carruselBotonSiguiente {
    right: -63px;
}

#letrasMayus {
    font-size: 40px;
    color: rgba(60, 155, 233);
}

.msjAlerta {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 3.5%;
    text-align: right;
    color: rgb(255, 50, 50);
    text-shadow:
        -1px -1px 1px rgb(255, 180, 180);
}

.msjExito {
    display: none;
    background-color: rgba(60, 155, 233, 0.75);
    border: 2px solid rgb(255, 255, 255);
    width: 250px;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.5);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    font-size: 22px;
    color: rgb(169, 239, 152);
    text-shadow: 
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.exitoTitulo {
    display: block;
    text-align: center;
}

.inputsExito {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-shadow: none;
    font-variant: normal;
    font-size: 14px;
    border: none;
    border-bottom: solid white 2px;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    color: white;
    text-align: left;
}

.divMerch {
    margin: 50px auto;
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.merchItem {
    background-color: rgba(59, 59, 59, 0.2);
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    width: 300px;
}

.merchItem img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: contain;
}

.merchItem img:hover {
    transform: scale(1.2);
}

.merchInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 5px;
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    box-shadow: 0px 0px 15px black;
}

.carrito {
    background-color: #0d64ac;
    border: none;
    color: rgb(255, 255, 255);
    padding: 6px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.carrito:hover {
    background-color: rgba(255, 255, 255, 0.95);
    border-color: rgba(60, 155, 233);
    color: rgba(60, 155, 233);
}


.selecTalle {
    color: white;
    background-color: #0d64ac;
    border-radius: 5px;
    width: 85px;
    height: 32px;
    font-size: 13.5px;
    cursor: pointer;
}

.selecTalle:hover {
    background-color: rgba(255, 255, 255, 0.95);
    border-color: rgba(60, 155, 233);
    color: rgba(60, 155, 233);
}