.menu {
    background-color: #3c9be9;
    padding: 10px 0;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: color 0.3s;
}

.menu {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    text-shadow: 
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    /* todo esto lo agregué yo (Facu xd) y está sujeto a cambios,
    solo me pareció que se veía un poco más lindo así. */
    position: fixed;
    top: 0;
    width: 100%;
    border: solid 2px white;
    border-top: none;
}

@font-face {
    font-family: 'LaLetraDeDios';
    src: url('/Fuentes/LaLetraDeD10S-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

.titulo h1 {
    text-align: center;
    font-family: 'LaLetraDeDios';
}

.tituloQuienesSomos h1 {
    text-align: center;
    font-family: 'LaLetraDeDios';
}

.textoQuienesSomos {
    background-color: #3c9be9;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    padding: 20px 40px;
    margin: 50px auto;
    color: white;
    font-family: 'Courier New';
    font-size: 24px;
    line-height: 1.6;
}

body {
    margin-top: 60px;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3N4ZnJmcWN3dHp3eWdvY3g4dDhhZDRpMTE5YTVpN2lhemZqdmQ5dCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/dBCWoIHo1hT5Sdtqbn/giphy.gif);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    height: 110vh;
}

.formulario {
    background-color: #1f87db;
    mix-blend-mode: screen;
    border: 2px solid white;
    width: 250px;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
}

.divForms {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

input, textarea {
    border-top: none;
    border-left: none;
    border-right: none;
    display:block;

}

label {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    color: white;
    text-shadow: 
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    
}